<template>
  <div id="app">
    <NavBar />
    <Video id="stream-video-container" />
    <button id="play-button" @click="playVideo">Play Video</button>
    <router-view />
  </div>
</template>

<script>
import Video from "./views/Video.vue";
import Danmaku from "danmaku/dist/esm/danmaku.dom.js";
import NavBar from "./views/NavBar.vue";
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      danmaku: null,
      danmakuTest: {
        text: "",

        // 'rtl'(right to left) by default, available mode: 'ltr', 'rtl', 'top', 'bottom'.
        mode: "rtl",

        // Specified in seconds, if not provided when using with media,
        // it will be set to `media.currentTime`. Not required in live mode.
        time: 233.3,

        // When using DOM engine, Danmaku will create a <div> node for each comment,
        // the style object will be set to `node.style` directly, just write with CSS rules.
        // For example:
        style: {
          position: "absolute",
          top: 0,
          right: 0,
          zIndex: 999,
          fontSize: "20px",
          color: "#ffffff",
          border: "1px solid #337ab7",
          textShadow:
            "-1px -1px #000, -1px 1px #000, 1px -1px #000, 1px 1px #000",
        },
      },
    };
  },
  components: {
    Video,
    NavBar,
  },
  mounted() {
    this.danmaku = new Danmaku({
      container: document.getElementById("app"),
      media: document.getElementById("stream-video"),
      comments: [this.danmakuTest],
    });
    this.danmaku.emit(this.danmakuTest);
  },
  sockets: {
    connect() {
      console.log("connected");
      // Fired when the socket connects.
      this.isConnected = true;
    },
    disconnect() {
      this.isConnected = false;
    },
    clientChat(message) {
      console.log(message);
      //this.allChatMessages.push(message);
      this.danmakuTest.text = message;
      this.danmaku.emit(this.danmakuTest);
      this.addChatMessage(message);
    },
    clients(clients) {
      console.log(clients);
      this.setClients(clients);
    },
    error(error) {
      console.log(error);
      this.setSocketError(error);
    },
  },
  methods: {
    ...mapMutations(["setClients", "addChatMessage"]),
    playVideo() {
      this.$root.$emit("playVideo");
    },
  },
};
</script>

<style lang="scss">
body {
  overflow-x: hidden;
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

#play-button {
  position: absolute;
  left: 500px;
  top: 150px;
}

#stream-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-js {
  width: 100%;
  height: 100%;
}
</style>
