<template>
  <div
    align="left"
    class="coolbox"
    @mousemove="handleMouseMove"
    :style="{
      borderColor: color,
      backgroundColor: color,
    }"
  >
    <h1>tsFM is a radio station for trans girls by trans girls &lt;3</h1>
    <br />
    <h2>bottom text</h2>
    <br />
    <p>
      Fan luv. They key is to have every key, the key to open every door. Give
      thanks to the most high. The key is to enjoy life, because they don’t want
      you to enjoy life. I promise you, they don’t want you to jetski, they
      don’t want you to smile. Another one. Mogul talk. Eliptical talk. Give
      thanks to the most high. Stay focused. Mogul talk. You should never
      complain, complaining is a weak emotion, you got life, we breathing, we
      blessed. You see that bamboo behind me though, you see that bamboo? Ain’t
      nothin’ like bamboo. Bless up. Look at the sunset, life is amazing, life
      is beautiful, life is what you make it. The key to success is to keep your
      head above the water, never give up. Find peace, life is like a water
      fall, you’ve gotta flow. You do know, you do know that they don’t want you
      to have lunch. I’m keeping it real with you, so what you going do is have
      water, the healing, salt water is the healing. You should never complain,
      complaining is a weak emotion, you got life, we breathing, we blessed. The
      key is to drink coconut, fresh coconut, trust me. Lion! Life is what you
      make it, so let’s make it. Buy this now.
    </p>
    <button>button</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      color: "purple",
      colorA: "blue",
      bValue: 0,
    };
  },
  methods: {
    handleMouseMove(event) {
      //console.log(event.clientX / 10, event.clientY / 10);

      this.color = `rgba(${event.clientX / 20}, ${event.clientY / 20}, ${
        this.bValue
      }, 0.8)`;

      this.colorA = `rgba(${event.clientX / 20}, ${event.clientY / 20}, ${
        this.bValue
      }, 0.5)`;
    },

    makeStuffRandom(event) {
      this.bValue = Math.floor(Math.random() * 255);
      this.color = `rgba(${event.clientX / 10}, ${event.clientY / 10}, ${
        this.bValue
      }, 0.5)`;
    },
  },
};
</script>

<style scoped>
@import url("https://use.typekit.net/utd8gpm.css");

h1 {
  display: inline;
  font-style: italic;
  font-family: halyard-display, sans-serif;
  font-size: 3.5em;
  position: relative;
  margin-bottom: 2em;
  color: rgba(96, 201, 250, 0.8);
  font-weight: 500;
}

h2 {
  display: inline;
  font-style: italic;
  font-family: halyard-display, sans-serif;
  font-size: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  color: rgba(80, 192, 244, 0.8);
  font-weight: 400;
}

div {
  margin-top: 3em;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
  background-color: rgba(67, 54, 63, 0.6);
  left: 50px;
  max-width: 66%;
  border-style: solid;
  border-color: rgba(195, 36, 36, 0.363);
  border-top-width: 1px;
  border-left-width: 9px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-radius: 90px 90px 90px 20px;
}

p {
  margin-top: 2em;
  display: inline;
  text-align: justify;
  position: relative;
  mix-blend-mode: exclusion;
  color: rgb(244, 124, 236);
  font-family: halyard-book, sans-serif;
  font-size: 1.2em;
}

button {
  background-color: #000000; /* Green */
  border-width: 2px;
  border-color: white;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 90px 90px 90px 20px;
}

button:active {
  background-color: #ffffff; /* Green */
  border-width: 2px;
  color: rgb(0, 0, 0);
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 90deg 90deg 90deg 90deg;
}

button:focus {
  border-width: 2px;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 90deg 90deg 90deg 90deg;
}
</style>
