<template>
  <div id="chat-page">
    <div
      id="clients"
      @mousemove="handleMouseMove"
      :style="{
        borderColor: color,
        backgroundColor: colorA,
      }"
    >
      <div
        id="clients-bar"
        :style="{
          borderColor: color,
        }"
      >
        USERS
      </div>
      <div v-for="client in clients" :key="client.userId">
        <div class="chat-client" v-if="client.username">
          {{ client.username }}
        </div>
      </div>
    </div>
    <div
      id="chat-messages"
      @mousemove="handleMouseMove"
      :style="{
        borderColor: color,
        backgroundColor: colorA,
      }"
    >
      <div v-for="(message, index) in chatMessages" :key="index">
        <span> {{ message }} </span>
      </div>
    </div>
    <div id="chat-container">
      <div v-if="isLoggedIn">
        <button @click="sendChat" id="chat-button">CHAT</button>
        <input id="chat-input" v-model="chatMessage" @keyup.enter="sendChat" />
      </div>
      <div v-else>
        <button @click="login" id="login-button">LOGIN</button>
        <input id="chat-input" v-model="userName" @keyup.enter="login" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      chatMessage: "",
      userName: "",
      isLoggedIn: false,
      color: `rgba(120, 181, 255, .9)`,
      colorA: `rgba(120, 181, 255, .5)`,
      bValue: 255,
      gValue: 181,
    };
  },
  computed: {
    ...mapGetters(["chatMessages", "clients", "socketError"]),
  },
  methods: {
    sendChat() {
      this.$socket.emit("sendChat", this.chatMessage); //here, see if it may be possible to style this
      this.chatMessage = "";
    },
    handleMouseMove(event) {
      //console.log(event.clientX / 10, event.clientY / 10);

      this.color = `rgba(${event.clientX / 12 + 90}, 255, ${this.bValue}, 0.9)`;

      this.colorA = `rgba(${event.clientX / 12 + 90}, ${this.gValue}, ${
        this.bValue
      }, 0.5)`;
    },
    login() {
      this.$socket.emit("login", this.userName);
      this.isLoggedIn = true;
    },
    scrollChat() {
      var chatDiv = document.getElementById("chat-messages");
      chatDiv.scrollTop = chatDiv.scrollHeight;
    },
  },
};
</script>

<style scoped lang="scss">
@import url("https://use.typekit.net/utd8gpm.css");

//to do -- make pictures render in the chat window

#chat-page {
  width: 100%;
  display: flex;
  flex: 1;
  position: relative;
  top: 200px;
  max-height: 100%;
  min-height: 30%;
  max-width: 97.5%;
  min-width: 30%;
}

#chat-container {
  //This is the bottom bar where the send button is, NOT the chat window itself
  position: absolute;
  display: flex;
  bottom: 0;
  left: 219px;
  white-space: nowrap;
  border-image: linear-gradient(90deg, rgba(lightpink, 1), rgba(lightpink, 0));
  border-image-slice: 1;
}

#clients-bar {
  position: flex;
  text-align: center;
  border-width: 0px 0px 2px 0px;
  border-color: rgba(lightcyan, 0.05);
  border-style: solid;
}

#clients {
  //background: white;
  font-size: 1.3em;
  width: 7.6em;
  min-width: 7.6em;
  border: 1px solid white;
  border-radius: 45px 0px 0px 0px;
  border-top-width: 3px;
  border-bottom-width: 1px;
  border-left-width: 2px;
  display: flex;
  flex-direction: column;
  color: lightpink;
  margin-right: 0px;
  align-content: flex-start;
  border-right-width: 2px;
  padding-top: 0px;
  text-align: left;
  padding-left: 7px;
  padding-right: 0px;
  margin-left: 20px;
  background-color: white;
  font-family: halyard-display, sans-serif;
  overflow: scroll;
}

#chat-messages {
  //this is the big box where all the messages show
  background-color: white;
  width: 90%;
  border: 2px solid white;
  color: rgba(0, 183, 255, 0.984);
  margin-left: 30px;
  border-top-width: 3px;
  padding-left: 6px;
  margin-bottom: 23px;
  border-bottom-width: 1px;
  border-radius: 0px 2px 200px 0px;
  margin-right: 0px;
  text-align: left;
  position: flex;
  font-family: halyard-display, sans-serif;
  font-size: 1.25em;
  overflow: scroll;
  height: 500px;
  min-height: 300px;
}

#chat-input {
  //this is the actual field where text is entered by the user
  font-family: halyard-display, sans-serif;
  border: solid white;
  border-width: 2px 2px 2px 2px;
  border-image: linear-gradient(90deg, rgba(lightpink, 1), rgba(lightpink, 0));
  border-image-slice: 1;
  font-weight: 300;
  padding-left: 5px;
  width: 40vw;
  border-radius: 0px 30px 30px 0px;
  background: linear-gradient(
    90deg,
    rgba(lightpink, 0.9),
    rgba(lightpink, 0.3)
  );
  transition: 200ms;
}

#chat-input:focus {
  outline: none;
  border-image: linear-gradient(
    90deg,
    rgba(lightblue, 1),
    rgba(lightblue, 0.7) 70%,
    rgba(skyblue, 0)
  );
  border-radius: 0px 30px 30px 0px;
  border-image-slice: 1;
  transition: 200ms;
}

#login-button {
  border: 2px solid rgb(245, 169, 184);
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  background-color: rgb(91, 206, 250);
  max-height: 30px;
  position: flex;
  justify-self: flex-start;
}

#login-button:focus {
  outline: none;
  border: 2px solid rgb(87, 95, 255);
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  background-color: rgb(91, 206, 250);
  max-height: 30px;
  position: flex;
  justify-self: flex-start;
  transition: 200ms;
}

#login-button:active {
  background-color: rgb(13, 170, 232);
  transition: 200ms;
}

#chat-button:focus {
  //this syntax works for targeting the focus state's outline
  outline: none;
  border: 2px solid rgba(252, 140, 203, 0.894);
  transition: 200ms;
}

#chat-button {
  border: 2px solid rgb(98, 218, 255);
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  background-color: rgb(245, 169, 184);
  max-height: 30px;
  transition: 200ms;
}

#chat-button:active {
  background-color: rgb(221, 98, 123);
  transition: 200ms;
}

//theres a clients (chat members) div,
</style>
