<template>
  <div class="navBar">
    <div>
      <div
        class="rect1"
        :style="{
          backgroundColor: backgroundColor,
        }"
      ></div>
      <div
        class="rect2"
        :style="{
          backgroundColor: backgroundColor,
        }"
      ></div>

      <flex>
        <img src="@/assets/images/tsfmzone.png" class="navBar" width="400px" />
        <router-link
          @mouseover.native="colorChange1"
          @mouseleave.native="colorChangeOut"
          class="home"
          tag="a"
          :to="{ path: '/' }"
        >
          home
        </router-link>
        <router-link
          @mouseover.native="colorChange2"
          @mouseleave.native="colorChangeOut"
          class="about"
          :to="{ path: '/About' }"
        >
          about
        </router-link>
        <router-link
          @mouseover.native="colorChange3"
          @mouseleave.native="colorChangeOut"
          class="chat"
          :to="{ path: '/Chat' }"
        >
          chat
        </router-link>
      </flex>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      backgroundColor: "black",
    };
  },

  methods: {
    colorChange1() {
      this.backgroundColor = `rgb(96,201,250)`; //This should always be 96,201,250, which is the trans flag blue
      console.log(this.backgroundColor);
    },
    colorChange2() {
      this.backgroundColor = `rgb(244,124,236)`;
      console.log(this.backgroundColor); //This should always be 244,124,236, which is the trans flag pink
    },
    colorChange3() {
      this.backgroundColor = `rgb(255,164,164)`; //Salmon :3
    },
    colorChangeOut() {
      this.backgroundColor = `rgb(0,0,0)`;
      console.log(this.backgroundColor);
    },
  },
};
</script>

<style scoped>
@import url("https://use.typekit.net/utd8gpm.css");

a.home {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-size: 58pt;
  font-style: italic;
  position: fixed;
  top: 34px;
  left: 409px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 600ms;
}

a.about {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-size: 58pt;
  font-style: italic;
  position: fixed;
  top: 34px;
  left: 606px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 600ms;
}

a.chat {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-size: 58pt;
  font-style: italic;
  position: fixed;
  top: 34px;
  left: 807px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 600ms;
}

a:hover {
  color: black;
  transition: 600ms;
}

a:focus {
  outline: none;
  border-radius: 30px 30px 30px 0px;
  border-style: solid;
  border-color: rgba(white, 0.05);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navBar {
  position: fixed;
  float: inline;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 1;
}

.rect1 {
  position: fixed;
  width: 100vw;
  height: 99px;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  transition: 600ms;
}

.rect2 {
  position: fixed;
  width: 90%;
  height: 129px;
  left: 300px;
  right: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  transition: 600ms;
}
</style>
