<template>
  <div>
    <video
      id="my-player"
      class="video-js"
      autoplay
      controls
      preload="auto"
      poster="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Cat_poster_1.jpg/1920px-Cat_poster_1.jpg"
      data-setup="{}"
      ref="videoPlayer"
    >
      <source
        src="https://tsfm.zone:8088/dash/obs_stream.mpd"
        type="application/dash+xml"
      />
      <source
        src="https://tsfm.zone:8088/dash/obs_stream.hls"
        type="application/x-mpegURL"
      />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">
          supports HTML5 video
        </a>
      </p>
    </video>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$root.$on("playVideo", () => this.$refs.videoPlayer.play());
  },
};
</script>

<style scoped></style>
